@using KillerApp.Models
@model KillerApp.Models.Abonnement
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<h3>@Model.ToString()</h3>
<p>@Html.TextBox("Naam", @Model.Naam, new {@Abonnement = "form=control"})</p>
<a href="javascript:void(0);" onclick="history.go(-1);">Terug naar abonnementen</a>