@model KillerApp.Models.Gebruiker
@{
    ViewBag.Title = "WijzigAbonnement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wijzig Gebruiker</h2>
<h3>@Model.Emailadres</h3>
<a href="javascript:void(0);" onclick="history.go(-1);">Terug naar gebruikersoverzicht</a>
